<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    {% if page.header.title != "hide" %}
    <li class="name">
    <h1><a href="/">LensKit Teaching</a></h1>
    </li>
    {% endif %}
  </ul>
  <section class="top-bar-section" id="site-menu">
    <ul class="right">
        <li class="has-dropdown">
          <a href="/documentation/" data-match="re:^/(documentation|releases)/">Documentation</a>
          <ul class="dropdown">
            <li><a href="/documentation/basics/">LensKit Basics</a></li>
            <li><a href="/documentation/algorithms/">Algorithms</a></li>
            <li><a href="/documentation/evaluator/">Evaluator</a></li>
            <li><a href="/documentation/cli/">CLI Tools</a></li>
            <li><a href="/apidocs/">API Documentation</a></li>
          </ul>
      </li>
      <li><a href="//lenskit.org/">LensKit</a>
    </ul>
  </section>
</nav>
