<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  LensKit for Learning &mdash; {{page.title}}
</title>
<link rel="icon" type="image/png" href="//lenskit.org/s/lenskit-mini.png">
<link rel="stylesheet" href="/s/master.css">
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [
      'Tinos:400,700,400italic:greek,latin',
      'PT+Sans:400,700:latin',
      'Inconsolata:400,700:latin',
      'PT+Sans+Caption:400,700:latin'
    ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();</script>
</head>
<body>
<div class="fixed">
  <nav class="pure-menu nav-menu pure-menu-horizontal" role="navigation">
    <a class="pure-menu-heading pure-menu-link" href="/">LensKit for Learning</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/documentation/" data-match="re:^/(documentation|releases)/">Documentation</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="//lenskit.org/">LensKit</a>
    </ul>    </section>
  </nav>
</div>
<article class="main {{bodyWidth}} columns">
  {{{contents}}}
</article>
<footer>
  Copyright © 2015–2016 Michael D. Ekstrand.<br>
  Problems? Suggestions? This site is <a href="https://github.com/lenskit/mooc.lenskit.org">public on Github</a>.
  Hosted on <a href="https://pages.gitlab.io/">GitLab Pages</a>.
</footer>
<script src="/s/lenskit.js"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  // tracker methods like "setCustomDimension" should be called before "trackPageView"
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.ekstrandom.net/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://stats.ekstrandom.net/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
