@import "pure";

//! mooc.lenskit.org CSS
@import "tango";

@import "style";
@import "mod-menu";

article {
  ul, ol {
    margin-left: 2em;
  }
}

.main {
  max-width: 45em;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: $aluminium3;
  font-style: italic;
  font-size: 0.8rem;
}

.use-case .uc-header {
  text-align: center;
  .uc-logo {
    height: 120px;
    width: 120px;
  }
}

.project-info {
  section {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

aside {
    font: {
        style: italic;
        size: 1rem;
    }
    margin-bottom: 1em;
    padding: {
        left: 2rem;
        right: 2rem;
    }
}

a:link {
  color: $link-color;
}
a:active {
  color: $link-active-color;
}
a:visited {
  color: $link-visited-color;
}
a:hover {
  color: $link-hover-color;
}

a:link, a:visited {
  code {
    color: $link-color;
  }
}
a:hover {
  code {
    color: $link-hover-color;
  }
}

// fix the definition lists
dd {
    padding-left: 2em;
}
